<div class="content-container">

  <!-- ALERT -->
  <alert data-ng-repeat="alert in chat.alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.message }}
  </alert>
  <!-- END OF ALERT -->

  <!-- CONTENT -->
  <div class="page-content">
    <div class="panel panel-default">

      <div class="panel-heading">
        <div class="panel-control">
          <a href="#" class="btn btn-sm" data-ng-click="addAlert('War Machine is calling.')">
            <i class="fa fa-phone"></i>
          </a>
          <a href="#" class="btn btn-sm" data-ng-click="addAlert('War Machine is calling.')">
            <i class="fa fa-video-camera"></i>
          </a>

          <div class="btn-group" dropdown>
            <a href="#" class="dropdown-toggle btn btn-sm" dropdown-toggle>
              <i class="fa fa-gear"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li>
                <a href="#">
                  <i class="fa fa-user-times fa-fw fa-lg"></i>
                  <span class="text-nowrap">Delete user</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="panel-title">War Machine</h3>
      </div>

      <div class="panel-body">
        <ul data-ng-repeat="message in chat.messages" class="list-unstyled">
          <li class="mar-btm">
            <div class="media-{{ message.align }}">
              <img class="img-circle img-sm" src="{{ message._links.avatar.href }}" alt="{{ message.sender }}">
            </div>
            <div class="media-body pad-hor speech-{{ message.align }}">
              <div class="speech">
                <a href="#" class="media-heading">{{ message.sender }}</a>

                <p>{{message.text}}</p>

                <p class="speech-time">
                  <i class="fa fa-clock-o fa-fw"></i> {{ message.date }}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!-- END OF CONTENT -->

</div>
