<div class="sidebar-container">

  <tabset class="sidebar-tabset" justified="true">
    <tab>
      <tab-heading>
        <i class="fa fa-user fa-lg"></i>
        <span class="badge badge-info">7</span>
      </tab-heading>

      <h4 class="pad-hor text-thin"><span
        class="pull-right badge badge-success">{{ sidebar.users.online.length }}</span> Online</h4>

      <div class="list-group">
        <a data-ng-repeat="user in sidebar.users.online" ui-sref="chat" class="list-group-item">
          <span class="media-left">
            <img class="img-circle img-xs" src="{{ user._links.avatar.href }}" alt="{{ user.name }}">
          </span>

          <div class="media-body">
            <div class="text-lg">{{ user.name }}</div>
            <span class="text-muted">{{ user.status }}</span>
          </div>
        </a>
      </div>

      <hr>

      <h4 class="pad-hor text-thin"><span
        class="pull-right badge badge-danger">{{ sidebar.users.offline.length }}</span> Offline</h4>

      <div class="list-group">
        <a data-ng-repeat="user in sidebar.users.offline" ui-sref="chat" class="list-group-item">
          <span class="badge badge-primary badge-icon pull-left"></span> {{ user.name }}
        </a>
      </div>

    </tab>
    <tab>
      <tab-heading>
        <i class="fa fa-users fa-lg"></i>
      </tab-heading>

      <h4 class="pad-hor text-thin"><span
        class="pull-right badge badge-success">{{ sidebar.groups.online.length }}</span> Online</h4>

      <div class="list-group">
        <a data-ng-repeat="group in sidebar.groups.online" ui-sref="chat" class="list-group-item">
          <span class="media-left">
            <img class="img-circle img-xs" src="{{ group._links.avatar.href }}" alt="{{ group.name }}">
          </span>

          <div class="media-body">
            <div class="text-lg">{{ group.name }}</div>
            <span class="text-muted">{{ group.status }}</span>
          </div>
        </a>
      </div>

      <hr>

      <h4 class="pad-hor text-thin"><span
        class="pull-right badge badge-danger">{{ sidebar.groups.offline.length }}</span> Offline</h4>

      <div class="list-group">
        <a data-ng-repeat="group in sidebar.groups.offline" ui-sref="chat" class="list-group-item">
          <span class="badge badge-primary badge-icon pull-left"></span> {{ group.name }}
        </a>
      </div>

    </tab>
  </tabset>

</div>
