.btn-inverse {
  @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}

.btn-labeled,
.btn-labeled.fa {
  overflow: hidden;
  font-weight: 300
}

.btn-labeled .fa:before,
.btn-labeled.fa:before {
  font-family: FontAwesome
}

.btn-labeled:not(.btn-block):not(.form-icon) {
  padding-bottom: 0;
  padding-top: 0
}

.btn-labeled:before {
  background-color: rgba(0, 0, 0, .05);
  display: inline-block
}

.btn-block.btn-labeled:not(.form-icon):before {
  float: left
}

.btn-lg.btn-labeled {
  font-size: 18px;
  line-height: 1.33
}

.btn-lg.btn-labeled:before {
  margin-left: -16px;
  margin-right: 10px;
  padding: 10px 16px
}

.btn-lg.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -10px;
  margin-bottom: -10px
}

.btn-sm.btn-labeled {
  font-size: 12px;
  line-height: 1.5
}

.btn-sm.btn-labeled:before {
  margin-left: -10px;
  margin-right: 5px;
  padding: 5px 10px
}

.btn-sm.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -5px;
  margin-bottom: -5px
}

.btn-xs.btn-labeled {
  font-size: 10px;
  line-height: 1.66
}

.btn-xs.btn-labeled:before {
  margin-left: -5px;
  margin-right: 1px;
  padding: 1px 5px
}

.btn-xs.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -1px;
  margin-bottom: -1px
}
