.btn-default {
  background-color: #fff;
  border-color: #c3cedb;
  color: #444
}

.btn-default.active,
.btn-default:active,
.btn-default.focus,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
  background-color: #eee;
  color: #1a1a1a;
  border-color: #c8d2de
}

.btn-inverse {
  background-color: #383a42;
  border-color: #34373e;
  color: #fff
}

.btn-inverse.active,
.btn-inverse:active,
.btn-inverse.focus,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
  background-color: #2f3238;
  border-color: #2b2d33;
  color: #fff
}

.btn-primary {
  background-color: #3f8bd1;
  border-color: #3988cf;
  color: #fff
}

.btn-primary.active,
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #3183cc;
  border-color: #2f7dc4;
  color: #fff
}

.btn-success {
  background-color: #88bf4c;
  border-color: #85bd47;
  color: #fff
}

.btn-success.active,
.btn-success:active,
.btn-success.focus,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
  background-color: #7fb842;
  border-color: #7ab03f;
  color: #fff
}

.btn-info {
  background-color: #34b2e7;
  border-color: #2db0e6;
  color: #fff
}

.btn-info.active,
.btn-info:active,
.btn-info.focus,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
  background-color: #24ace5;
  border-color: #1ba9e4;
  color: #fff
}

.btn-warning {
  background-color: #fea82c;
  border-color: #fea525;
  color: #fff
}

.btn-warning.active,
.btn-warning:active,
.btn-warning.focus,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
  background-color: #fea01b;
  border-color: #fe9c10;
  color: #fff
}

.btn-danger {
  background-color: #e85138;
  border-color: #e74b31;
  color: #fff
}

.btn-danger.active,
.btn-danger:active,
.btn-danger.focus,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
  background-color: #e64328;
  border-color: #e53b1f;
  color: #fff
}

.btn-labeled,
.btn-labeled.fa {
  overflow: hidden;
  font-weight: 300
}

.btn-labeled .fa:before,
.btn-labeled.fa:before {
  font-family: FontAwesome
}

.btn-labeled:not(.btn-block):not(.form-icon) {
  padding-bottom: 0;
  padding-top: 0
}

.btn-labeled:before {
  background-color: rgba(0, 0, 0, .05);
  display: inline-block
}

.btn-block.btn-labeled:not(.form-icon):before {
  float: left
}

.btn-lg.btn-labeled {
  font-size: 18px;
  line-height: 1.33
}

.btn-lg.btn-labeled:before {
  margin-left: -16px;
  margin-right: 10px;
  padding: 10px 16px
}

.btn-lg.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -10px;
  margin-bottom: -10px
}

.btn-sm.btn-labeled {
  font-size: 12px;
  line-height: 1.5
}

.btn-sm.btn-labeled:before {
  margin-left: -10px;
  margin-right: 5px;
  padding: 5px 10px
}

.btn-sm.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -5px;
  margin-bottom: -5px
}

.btn-xs.btn-labeled {
  font-size: 10px;
  line-height: 1.66
}

.btn-xs.btn-labeled:before {
  margin-left: -5px;
  margin-right: 1px;
  padding: 1px 5px
}

.btn-xs.btn-block.btn-labeled:not(.form-icon):before {
  margin-top: -1px;
  margin-bottom: -1px
}
