.navbar-container-bottom {
  display: table;
  box-shadow: 0 -2px 0 -1px rgba(0, 0, 0, .1);

  > .navbar-footer {
    display: none;
    vertical-align: top;
    background-color: #2e3033;
  }

  > .navbar-content {
    display: table-cell;
    vertical-align: top;
    background-color: #fff;
    padding: 0 5px;
  }
}

.navbar-form {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  .form-group,
  .input-group {
    width: 100%;
  }

  .input-group .input-group-btn {
    width: 1%;
  }
}

@media (min-width: 768px) {
  .navbar-container-bottom > .navbar-footer {
    display: table-cell;
    width: 250px
  }
}
