.mar-no {
  margin: 0 !important
}

.mar-all {
  margin: 15px
}

.mar-top {
  margin-top: 15px
}

.mar-btm {
  margin-bottom: 15px
}

.mar-lft {
  margin-left: 15px
}

.mar-rgt {
  margin-right: 15px
}

.mar-hor {
  margin-left: 15px;
  margin-right: 15px
}

.mar-ver {
  margin-top: 15px;
  margin-bottom: 15px
}
