<div class="dashboard" data-ng-controller="DashboardCtrl">

  <!-- HEADER -->
  <header class="navbar navbar-fixed-top" data-ng-include="'views/dashboard/header.html'"></header>
  <!-- END OF HEADER -->

  <!-- SIDEBAR -->
  <aside class="sidebar sidebar-fixed-left" data-ng-include="'views/dashboard/sidebar.html'"></aside>
  <!-- END OF SIDEBAR -->

  <!-- CONTENT -->
  <div class="content" data-ng-include="'views/dashboard/chat.html'"></div>
  <!-- END OF CONTENT -->

  <!-- FOOTER -->
  <footer class="navbar navbar-fixed-bottom" data-ng-include="'views/dashboard/footer.html'"></footer>
  <!-- END OF FOOTER -->

</div>
